$DarkBlueDarkMode: hsl(209, 23%, 22%);
$VeryDarkBlueDarkMode: hsl(207, 26%, 17%);
$VeryDarkBlueLightModeText: hsl(200, 15%, 8%);
$DarkGrayLightModeInput:hsl(0, 0%, 52%);
$VeryLightGrayLightModeBackground: hsl(0, 0%, 98%);
$WhiteDarkModeText_LightMode: hsl(0, 0%, 100%);

$fam:'Nunito Sans', sans-serif;