@import "resets";
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Consolas;
}
h1 {
  text-align: center;
}
#gamecontainer {
  width: 90%;
  height: 300px;
  max-width: 350px;
  background-color: rgb(17, 167, 236);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 11px;
}
#gamecontainer > div {
  border: 1px solid white;
  display: grid;
  place-items: center;
  cursor: pointer;
}
button {
  padding: 1rem 2rem;
  border-radius: 7px;
  margin-top: 5px;
  border: none;
  box-shadow: 0 0 2px 0 black;
  font-weight: 700;
  font-size: 18px;
  background-color: rgb(0, 195, 255);
  cursor: pointer;
}
