*,*::after,*::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg , white , gray); 
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;

}

.container{
    position: absolute;
    left: center;
    top: center;
    height: max-content;
    margin:auto; /* half of you height */
    width: 310px;
    margin-top: 90px;
     /* half of you width */
    background-color: #3498db;
    border-radius:15px ;
    overflow: hidden;
    box-shadow: 0 0 5px 3px grey;
}
.container > .question{
    text-align: center;
    padding: 10px 2px;
    font-size: larger;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.container > input[type="radio"]{
    margin-top: 20px;
    margin-left: 10px;
    text-align: justify;
    display: inline-block;
    vertical-align: center;
    cursor: pointer;
    width: 30px;
}
.container label {
    margin-left: 10px;
    padding-bottom: 5px;
    display: inline-block;
    vertical-align: center;
    user-select: none;

}
.submit{
    display: block;
    width: 100%;
    padding:1.1rem;
    outline:none;
    border:none;
    background-color: #8e44ad;
    cursor: pointer;
    margin-top: 70px;
}
.submit:hover{
    background-color: #6b2b86;
}
