@import "variables";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: $family;
  justify-content: center;
  align-items: center;
  background-color: $DarkGrayishBlue;
}
#dividerContainer > img {
  width: 100%;
  height: 100%;
}
header {
  color: $NeonGreen;
}
main {
  background-color: $GrayishBlue;
  position: relative;
  display: flex;
  padding: 50px 20px;
  padding-bottom: 90px;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  /*   width: 90%; */
  border-radius: 7px;
  box-shadow: 0 0 5px black;
}
section {
  text-align: center;
  color: $LightCyan;
  font-size: 25px;
}

#dividerContainer {
  width: 100%;
  display: grid;
  place-items: center;
}

#diceContainer {
  position: absolute;
  bottom: -25px;
  border: none;
  width: 70px;
  height: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: $NeonGreen;
  cursor: pointer;
}
#diceContainer:hover {
  box-shadow: 0 0 10px $NeonGreen, 0 0 12px hsl(145, 93%, 58%),
    0 0 14px hsl(145, 96%, 54%), 0 0 16px hsl(130, 93%, 53%);
}

.qu {
  font-size: 35px;
}
