*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #333333;
}
.img-container{
   width:100vw;
   max-width: 600px;
   height: 50vh;
    overflow: hidden;
    margin:20vh auto;
}
.img-container > img{
    height: 100%;

}
.buttons{
    display: flex;
    justify-content: space-around;   
    height: auto;
}
#prev,#next{
    margin-top: 10px;
    padding:1em 3em;
    font-size: 15;
    font-weight: bold;
    font-family: cursive,sans-serif;
    outline: none;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    color: white;
}
#next{
    background-color: rgb(197, 48, 48);  
}
#prev{
    background-color: rgb(64, 190, 64);
}
#prev:hover{
    background-color: white;
    color:rgb(64, 190, 64)
}
#next:hover{
    background-color: white;
    color:rgb(197, 48, 48)
}
