@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
$C_White: hsl(0, 0%, 100%);
$Light_gray: hsl(212, 45%, 89%);
$Grayishblue: hsl(220, 15%, 55%);
$Dark_blue: hsl(218, 44%, 22%);
$ParFontSize: 15px;
$FontFa: "Outfit", sans-serif;
