*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to right, #7e7b7d, #9b9696, #6e7a7946);
  font-family: consolas;
}
.allCard {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, 400px);
  grid-template-columns: repeat(3, 25%);
  gap: 40px;
  justify-content: center;
}
/* media */
.img-container > img {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.card {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 5px #333;
  background-color: rgba(253, 253, 253, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 5px;
  user-select: none;
  border-radius: 20px;
}
/* css of the item image */
/* .item-img {
  object-fit: cover;
} */

.item-description {
  font-size: 2rem;
}
.item-price {
  font-size: 2rem;
}
/* favoris icon */
.favoris {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* Alert added to favoris  */
.alert {
  background-color: white;
  box-shadow: 0 0 7px black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 0px;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
.alert-text {
  font-family: Helvetica, Arial, sans-serif;
}

/* alert animation */
@keyframes alertAnim {
  0% {
    height: 0px;
    top: 0px;
  }
  10% {
    height: 40px;
    top: 10px;
  }
  100% {
    top: 0px;
    height: 0px;
  }
}
.alert-animation {
  animation-name: alertAnim;
  animation-duration: 3.4s;
  animation-timing-function: ease-in;
}
@media (max-width: 540px) {
  .allCard {
    grid-template-rows: repeat(12, 400px);
    grid-template-columns: repeat(1, 90%);
  }
}
@media (min-width: 550px) {
  .allCard {
    grid-template-rows: repeat(6, 450px);
    grid-template-columns: repeat(2, 45%);
  }
}

@media (min-width: 900px) {
  .allCard {
    grid-template-rows: repeat(4, 400px);
    grid-template-columns: repeat(3, 25%);
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
}
/* Modal Content */
.contact-content {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* seller Info and send Message to him */
.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  height: max-content;
}
textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 20px;
  background-color: transparent;
}
#fname,
#phoneNumber {
  align-self: center;
  font-size: 20px;
}
#messageDiv {
  display: flex;
}
.comment {
  align-self: center;
}
#sendInfo {
  place-self: center;
}
#sendInfo > button {
  font-size: 20px;
  padding: 1em 3em;
  border-radius: 7px;
  border: 1px solid white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
  transition: all 250ms ease;
}
#sendInfo > button:hover {
  background-color: black;
  color: white;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #38ef7d, #11998e);
}
#sendInfo > button:active {
  transform: scale(1.2);
}
#msgNoti {
  position: fixed;
  top: 0;
  /* Stay in place */
  z-index: 1000;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  backdrop-filter: blur(7px);
  width: 100vw;
  height: 100vh;
  padding: 10px;
  transform: scale(0, 0);
  transition: transform 250ms;
}
