*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  background-color: aquamarine;
}
header {
  background-image: url("./images/pattern-bg.png");
  width: 100vw;
  height: 150px;
  min-height: 130px;
  grid-template-columns: 1fr;
  gap: 10px;
  display: grid;
  place-items: center;
}
header > * {
  margin: 10px 0;
}
#searchContainer {
  display: grid;
  grid-template-columns: 7fr 1fr;
  width: 90%;
  overflow: hidden;
  border: none;
  overflow: none;
  border-radius: 7px;
  max-width: 440px;
  min-width: 250px;
}
#searchField {
  padding: 15px;
  background-color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: 500;
}
#searchBtn {
  display: grid;
  place-items: center;
  background-color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}
#searchBtn:hover {
  background-color: #333;
}
#userInfo {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 250px;
  place-items: center;
  padding-top: 10px;
  box-shadow: 0 0 4px hsl(0, 0%, 17%);
  row-gap: 10px;
  background-color: white;
  border-radius: 7px;
  width: 90%;
  position: relative;
  z-index: 100;
}
p {
  text-align: center;
  color: hsl(0, 0%, 59%);
  font-size: 12px;
}
h4 {
  color: hsl(0, 0%, 17%);
  font-size: 14px;
  text-align: center;
  word-wrap: break-word;
}

#map {
  height: 75vh;
  position: relative;
  z-index: 10;
}
/*  #location{
      font-size: 12px;
    } */
@media only screen and (min-width: 700px) {
  #userInfo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 250px;
    height: 100px;
  }
  p {
    font-size: 15px;
  }
  h4 {
    font-size: 17px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
