*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: aquamarine;
}

header {
  background-image: url("./images/pattern-bg.png");
  width: 100vw;
  height: 150px;
  min-height: 130px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

header > * {
  margin: 10px 0;
}

#searchContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 1fr;
      grid-template-columns: 7fr 1fr;
  width: 90%;
  overflow: hidden;
  border-radius: 7px;
  max-width: 440px;
  min-width: 250px;
}

#searchField {
  padding: 15px;
  background-color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

#searchBtn {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #333;
  border: none;
  cursor: pointer;
}

#userInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  min-width: 250px;
  place-items: center;
  padding-top: 10px;
  row-gap: 10px;
  background-color: white;
  border-radius: 7px;
  width: 90%;
  position: relative;
  z-index: 100;
}

p {
  text-align: center;
  color: #969696;
  font-size: 12px;
}

h4 {
  color: #2b2b2b;
  font-size: 14px;
  text-align: center;
  word-wrap: break-word;
}

#map {
  height: 75vh;
  position: relative;
  z-index: 10;
}

/*  #location{
      font-size: 12px;
    } */
@media only screen and (min-width: 700px) {
  #userInfo {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 250px;
    height: 100px;
  }
  p {
    font-size: 15px;
  }
  h4 {
    font-size: 17px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
