@import "resets";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  display: grid;
  place-items: center;
  width: 100%;
  background-image: $RadialGradient;
  height: 100vh;
  font-family: $fam;
}

#GameContainer {
  width: 85%;

  height: 100vh;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0 0 0;
}
/* #GameContainer > div {
  border:1px solid purple;
} */

/* Score Container */

#scoreContainer {
  justify-self: center;
  width: 90vw;
  max-width: 700px;
  padding: 15px;
  border: 2px solid $HeaderOutline;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 55px 85px;
  grid-auto-rows: 80px;
  justify-content: space-between;
}
#logoContainer {
  display: grid;
  place-items: center;
}
#logoContainer > img {
  width: 100%;
}
#score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 2px black;
}
#scoreTitle {
  color: $ScoreText;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: 600;
}
#scoreNumber {
  font-size: 35px;
  font-weight: 700;

  color: $DarkText;
}

/* pentagone choice  */

/* rules */
#rules {
  text-align: center;
}
#rules > button,
#homerules > button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  padding: 13px 35px;
  cursor: pointer;
}
#rulesAlert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  transition: transform 250ms ease-in-out;
  color: $DarkText;
}
.hideRules {
  transform: translateY(-150%);
}

#closeIcon {
  cursor: pointer;
}

/* Round */
/* #round {
  border: 2px solid red;
}
#round > div {
  border: 1px solid black;
} */
/* user Pick */
/* #playerPick {
  grid-area: player;
}
#aiPick {
  grid-area: ai;
}
#again {
  grid-area: again;
}
#rules {
  grid-area: rules;
} */
#round {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-content: stretch;
  row-gap: 30px;
}
#again {
  grid-column: 1/3;
  grid-row: 2/3;
}
#rules {
  grid-column: 1/3;
  grid-row: 2/3;
}
#playerPick {
  grid-column: 1/2;
  grid-row: 1/2;
}
#aiPick {
  grid-column: 2/3;
  grid-row: 1/2;
}
#rules {
  grid-column: 1/3;
  grid-row: 3/4;
}

#round > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
#round > div > span {
  color: white;
  font-weight: 700;
}

.effect > div,
.noeffect > div {
  border-radius: 50%;
  padding: 24px;
}
.effect > div > img,
.noeffect > div > img {
  width: 44px;
  height: 44px;
}
.effect {
  padding: 15px;
  border-radius: 50%;
  width: max-content;
  box-shadow: inset 0 -5px 1px #00000056;
}
.noeffect {
  padding: 15px;
  border-radius: 50%;
}
.effect > div {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 5px 1px #00000056;
}

#Scissors {
  background-image: $ScissorsGradient;
}

#Rock {
  background-image: $RockGradient;
}
#Paper {
  background-image: $PaperGradient;
}
#Lizard {
  background-image: $LizardGradient;
}
#Spock {
  background-image: $Cyan;
}

.noeffect > div {
  background-color: rgba(7, 7, 7, 0.432);
}

.AI {
  transition: opacity 1s ease-in 1s;
}
#again {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 20px;
}
#again > span {
  color: white;

  font-size: 40px;
  text-align: center;
  display: inline;
}
#again > button {
  display: inline-block;
  font-size: 30px;
  border: none;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
}
.hideImg > div > img {
  opacity: 0;
}

.twoColumns {
  grid-template-columns: 1fr 1fr;
}
.threeCol {
  grid-template-columns: 1fr 1fr;
}

#picksContainer {
  position: relative;
  width: max-content;
  height: max-content;
  margin: auto;
}
#picksContainer > div {
  position: absolute;
}
.ScissorPos {
  top: -50px;
  right: 37px;
}
.LizardPos {
  bottom: -50px;
  left: -20px;
}
.RockPos {
  bottom: -50px;
  right: -20px;
}
.PaperPos {
  top: 5%;
  right: -50px;
}

.SpockPos {
  top: 5%;
  left: -50px;
}

.small {
  transform: scale(0.5);
  cursor: pointer;
}
.small2 {
  width: 200px;
}

.hide {
  display: none;
}
.USER,
.AI {
  padding: 20px;
}
.USER > div,
.AI > div {
  border-radius: 50%;
  padding: 24px;
}
.AI > div > img,
.USER > div > img {
  width: 80px;
  height: 80px;
}
#rules {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

@media only screen and (min-width: 700px) {
  #scoreContainer {
    padding: 15px 30px;
    grid-template-columns: 110px 120px;
    grid-auto-rows: 120px;
  }
  #scoreTitle {
    font-size: 15px;
    letter-spacing: 2px;
  }
  #scoreNumber {
    font-size: 70px;
    line-height: 60px;
  }
  .small {
    transform: scale(1.4);
  }
  .small2 {
    width: initial;
  }
  .ScissorPos {
    top: -70px;
    right: 90px;
  }
  .SpockPos {
    top: 15%;
    left: -50px;
  }
  .PaperPos {
    top: 15%;
    right: -50px;
  }
  .USER,
  .AI {
    padding: 24px;
  }
  .USER > div,
  .AI > div {
    border-radius: 50%;
    padding: 40px;
  }
  .AI > div > img,
  .USER > div > img {
    width: 100px;
    height: 100px;
  }
  #round {
    display: grid;
    grid-template-columns: 2fr max-content 2fr;
    grid-template-rows: auto auto;
  }
  #playerPick {
    grid-column: 1/2;
  }
  #again {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #aiPick {
    grid-column: 3/4;
  }
  #rules {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  #round > div {
    display: flex;
    flex-direction: column-reverse;
  }
}

.shadowEffect {
  box-shadow: 0 0 0px 6vw rgba(150, 150, 150, 0.2),
    0 0 0px 12vw rgba(100, 100, 100, 0.15), 0 0 0 18vw rgba(5, 50, 50, 0.1);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* #homerules {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
 */

@media only screen and(max-width:320px) {
  .USER,
  .AI {
    padding: 15px;
  }
  .USER > div,
  .AI > div {
    border-radius: 50%;
    padding: 15px;
  }
  .AI > div > img,
  .USER > div > img {
    width: 70px;
    height: 70px;
  }
}
